<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="views/css/style.css" rel="stylesheet" type="text/css" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
</head>

<body>
  
  <div class="container w-75 mt-5">
    <div class="container-fluid  row mx-1" id="cabecera">
      <div class="col d-none d-lg-block col-sm-1 col-md-1 mt-3" ><img src="views/img/logoufps.png" width="100px"></img></div>
      <div class="col-10 col-md-10 fw-bold text center py-5"><h2 id="titulo">UFPS - FORMS</h2></div>
      </div>
    <div class="container-fluid  row mx-1" id="cuerpo">
    <div class="abs-center">
    <div class="col-md-5 col-lg-5 col-xl-6 ">
      
      <form action="#" >
        <div class="mb-4">
          <label for="email" class="form-label fw-bold">Correo Electronico</label>
          <input type="email" class="form-control rounded-5" name="email">
        </div>
        

        <div class="d-grid">
          <a type="submit" href="views/html/misEncuestas.ejs" class="btn bg-white mb-3 rounded-5">Ingresar</a>
        </div>
        <div class="d-grid">
          <a type="submit" href="html/administrador.html" class="btn bg-white mb-5 rounded-5">Ingresar como administrador</a>
        </div>
      </form>
    </div>
    </div>
    </div>
  </div>
  
  <script src="script.js"></script>
</body>

</html>