

#cabecera{
  background:#ed1d1d;
}

#titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#titulo2{
  display: flex;
  align-items: center;
  justify-content: center;
}

#tmp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item{
  border: 1px solid;
}

#nav{
  height:100%;
  
}

#boton{
  border: 1px solid;
}