<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/visEst.css" rel="stylesheet" type="text/css" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container-fluid row mx-0" id="cabecera">
    <div class="col d-none d-lg-block col-sm-1 col-md-1 mt-3" >
      <img src="../logoufps.png" width="100px"></img>
    </div>
    <div class="col-9 col-md-9 fw-bold text center py-5">
      <h2 id="titulo">UFPS - FORMS</h2>
      <h5 class="text-center" style="color:white">Administrador</h5>
    </div>
    <div class="col-2 col-md-2">
      <a type="button" href="../index.html" class="btn btn-default btn-circle mt-4 mx-5">
        <i class="fa fa-power-off" href="../index.html" style="font-size:48px;"></i>
      </a>
    </div> 
  </div>

  

  <div class="container-fluid row mx-1 mt-0 mx-0" >

    <!--navbar-->
  <div class="d-none d-lg-block col-sm-2 col-md-2  " >
    
    <ul class="nav flex-column" id="nav">
        <li class="nav-item mt-2" >
          <i class="fa fa-user-circle" style="font-size:30px;" id="admin">Administrador</i>
        </li>
        <li class="nav-item" >
          <a class="fa fa-list-alt nav-link mt-2" style="font-size:20px; color:black" href="administrador.html"> Encuestas Vigentes</a>
        </li>
        <li class="nav-item">
          <a class="fa fa-hourglass-end nav-link mt-2" style="font-size:20px; color:black;" href="encuestasFinalizadas.html"> Encuestas Finalizadas</a>
        </li>
        <li class="nav-item">
          <a class="fa fa-male nav-link" style="font-size:20px; color:black;" href="cargarPersonal.html"> Cargar Personal</a>
        </li>
        <li class="nav-item">
          <a class="fa fa-wrench nav-link" style="font-size:20px; color:black;" href="crearEncuesta.html"> Crear Encuestas</a>
        </li>
    </ul>
    </div>
    
    <!--encuestas-->
  <div class="col-sm-10 col-md-10" >
  <!--titulo-->
  <div class="mt-4" id="titulo2">
  <h1>Visualizacion</h1>
  </div>
    <div class="mt-0" id="titulo2">
  <h1>Estudiantes</h1>
  </div>
  <div class="container-fluid row mx-1 mt-2 " id="cuerpo">
  <div class="col-sm-12 col-md-12 mt-3" id="columnas">
    <table class="table table-bordered" style="text-align:center;" id="tabla">
        <thead class="thead-dark" >
        <tr >
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
        </tr>
        </thead>
      <tbody>
        <tr>
          <td>Nombre2 Apellido2</td>
          <td>estudiante2@ufps.edu.co</td>
        </tr>
        <tr>
          <td>Nombre3 Apellido3</td>
          <td>estudiante3@ufps.edu.co</td>
        </tr>
        <tr>
          <td>Nombre4 Apellido4</td>
          <td>estudiante4@ufps.edu.co</td>
        </tr>
      </tbody>
    </table>

    </div>
    
    </div>
    <a type="button" class="btn mt-5 rounded-5 " id="boton" href="cargarPersonal.html">Volver</a>
  </div> 
    </div>
  </div> 
  </div> 

  
</body>
</html>